.nav-link {
    position: relative;
    display: inline-block;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }

  .nav-link:hover {
    animation: bounce 0.5s infinite;
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }

  a {
    text-decoration: none;
  }

.certification {
    position: relative;
    animation: mymove 5s infinite;
    animation-timing-function: linear;
}

.certification:hover {
    animation: bounce 0.5s linear;
    animation-fill-mode: forwards;
}

@keyframes mymove {
    0%   { left: -10px; }
    25%  { left: 10px; }
    50%  { left: -10px; }
    75%  { left: 10px; }
    100% { left: -10px; }
}

@keyframes bounce {
    0%, 100% { top: 0px; }
    50% { top: -10px; }
}
