* {
  font-family: 'Courier New', monospace;
}

body {
  background: #191f1f; 
  text-align: center;
  padding: 2em;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.nav-link:hover {
  animation: bounce2 0.5s infinite;
  color:rgba(0, 0, 0, 0.944);
}

.connection:hover {
  animation: bounce2 0.5s infinite;
}

@keyframes bounce2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

a {
  text-decoration: none;
}

.certification {
  position: relative;
}

.certification:hover {
  animation: bounce 0.5s infinite linear;
}

@keyframes bounce {
  0%, 100% { 
    left: -10px; 
  }
  50% { 
    left: 10px; 
  }
}

.image-overlay {
  position: absolute;
  left: 0;
  z-index: 1;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
}

.navbar::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border: 3px solid transparent;
  border-right-color: #000;
}

@keyframes star-rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.about-2 .fas.fa-star {
  animation: star-rotate 2s linear infinite;
}

.cube {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 6s infinite linear;
  margin-bottom: 20px;
}

.face {
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 0.9;
}

.front {
  background-color: #ff5733;
  transform: translateZ(50px);
}

.back {
  background-color: #7cb342;
  transform: rotateY(180deg) translateZ(50px);
}

.right {
  background-color: #039be5;
  transform: rotateY(90deg) translateZ(50px);
}

.left {
  background-color: #e91e63;
  transform: rotateY(-90deg) translateZ(50px);
}

@keyframes rotate {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}

.developer {
  text-align: right;
  text-shadow: #fff;
}





